<footer class="footer">
	<div class="footer-copyright">
		Gilles PLACE © 2019
	</div>
	<div class="footer-links">
		<a href="https://www.instagram.com/gillesplacephotographe/" target="_blank"><i class="fab fa-instagram"></i></a>
		<a href="https://www.facebook.com/gilles.place.35" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="<%= legals_path %>" class="footer-links">Mentions légales</a>
	</div>
</footer>