<div class="container">
  <div class="contact">
    <%= cl_image_tag("http://res.cloudinary.com/dfvfkojyz/image/upload/v1563189715/rqczkvhjkm3fbtbmapcc.jpg") %>
    <div>
      <h1>GILLES PLACE</h1>
        <p>273 route du col de Terramont<br>74420 Habère-Poche</p>
        <p><i class="far fa-envelope"></i> gplace.photo@gmail.com</p>
        <p><i class="fas fa-phone"></i> 04 50 31 01 69</p>
        <p><i class="fas fa-mobile-alt"></i> 06 85 12 19 41</p>
    </div>
  </div>
  <h3 style="text-align:center; font-weight:200">N'hésitez pas à me contacter pour tout renseignement</h3>
</div>