<div class="banner">
  <h2 class="m-3">Photographe de montagne</h2>
  <a href="<%= categories_path %>" class="btn-base">Voir les photos</a>
</div>

<div class="container">
  <div class="d-flex my-3">
    <div>
      <strong>qui suis-je</strong>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, vitae?</p>
    </div>
    <img src="" alt="gilles place">
  </div>
</div>
