.btn-base {
  background-color: #E28975;
  border: 2px solid #E28975;
  padding: 5px 10px;
  // color: #6D6D6D;
  color: rgb(236, 236, 236);
}

.btn-base:hover {
  background-color: rgba(0, 0, 0, 0);
  color: #E28975;
  text-decoration: none;
}
